/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-outfit);
  background-color: var(--slate-300);
}

img {
  display: block;
  max-width: 100%;
}

p,
h2 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h2 {
  text-wrap: balance;
}
